
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}

.btnAdd {
    margin-left: 4px;
}

.card {
    height: 601px;    
}

li {
    font-size: 18px;
    line-height: 30px;
}

.card-footer {
    margin-top: 30px;
}

.name {
    margin-top:5px;
}